.nine {
  grid-column-start: 4;
  grid-row-start: 2;
}

.eight {
  grid-column-start: 3;
  grid-row-start: 2;
}

.seven {
  grid-column-start: 2;
  grid-row-start: 2;
}

.six {
  grid-column-start: 4;
  grid-row-start: 3;
}

.five {
  grid-column-start: 3;
  grid-row-start: 3;
}

.four {
  grid-column-start: 2;
  grid-row-start: 3;
}

.three {
  grid-column-start: 4;
  grid-row-start: 4;
}

.two {
  grid-column-start: 3;
  grid-row-start: 4;
}

.one {
  grid-column-start: 2;
  grid-row-start: 4;
}

.decimal-point {
  grid-column-start: 4;
  grid-row-start: 5;
}

.double-zero {
  grid-column-start: 3;
  grid-row-start: 5;
}

.zero {
  grid-column-start: 2;
  grid-row-start: 5;
}
