.squre-root {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
}

.multiply {
  grid-column-start: 5;
  grid-row-start: 3;
}

.division {
  grid-column-start: 6;
  grid-row-start: 3;
}

.plus {
  grid-column-start: 5;
  grid-row-start: 4;
}

.minus {
  grid-column-start: 6;
  grid-row-start: 4;
}

.equal {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
}
